.movie_card {
  display: flex;
  flex-direction: column;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin: auto;
}

.movie_poster {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.movie_info {
  padding: 10px;
}

.movie_title {
  margin: 0 0 5px;
  height: 65px;
  overflow: hidden;
}

.movie_rating {
  font-size: 14px;
  color: #999;
}
