.search_input {
  font-size: 16px;
  padding: 10px 20px;
  width: 400px;
  background-color: #282c34;
  border: none;
  border-radius: 16px;
  color: white;
}

.search_results {
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
  inset: 65px auto auto 200px;
  width: 600px;
  height: 550px;
  overflow-x: auto;
  background-color: #1e2027;
}

.error_label {
  margin: auto;
}